@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 768px){
  section.section-padding{
    padding: 4rem 4rem 0 !important;
  }
  html{
    font-size: 90%;
  }
}
@media (max-width: 500px){
  html{
    font-size: 85%;
  }
  section.section-padding{
    padding: 3rem 2rem 0 !important;
  }
}
@media (max-width: 400px){
  html{
    font-size: 81%;
  }
}
@media (max-width: 375px){
  html{
    font-size: 71%;
  }
}
/* body{
  padding: 10rem 9% 2rem;
} */
/* tailwind: bg-[linear-gradient(93deg,_#cc186e_-7%,#8b1717_146%)] */